@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

.Avatar {
  border: 1px solid rgb(177, 177, 177);
  border-radius: 50%;
  width: 150px;
}

.UserInfo {
  border-bottom: 1px solid rgba(177, 177, 177, 0.2);
  padding: 20px 30px;
}
.UserInfo-name .UserInfo-lastName {
  font-weight: bold;
  font-size: 200px;
}

#avatar {
  margin-right: 30px;
  margin-top: 10px;
}

.flex-container {
  display: flex;
}
.nameTitle {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 3px;
  text-align: left;
}
.info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: 'Raleway', sans-serif;
}
.data {
  color: rgb(2, 2, 2);
  font-size: 19px;
  text-align: left;
  margin-left: 20px;
}

.boton-show {
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-size: 70px;
  color: rgb(129, 129, 129);
  position: relative;
  height: fit-content;
  line-height: 100%;
  margin-top: -10px;
  margin-left: auto;
}
.boton-show:hover {
  color: rgb(54, 54, 54);
}
