@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

.App {
  background-color: #efefef;
  height: 100%;
  padding: 100px;
}

.container-box {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  width: 60vw;
  height: 80vh;
  border: 1px solid rgb(214, 213, 213);
  margin: 0 auto;
  border-radius: 5px;
  scrollbar-width: none;
  overflow-y: scroll;
  -ms-overflow-style: none;
  box-shadow: 0 2px 2px 1px rgb(204, 204, 204);
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
::-webkit-scrollbar:hover {
  width: 1px;
  background: scroll; /* make scrollbar transparent */
}
/*
.data-box::-webkit-scrollbar {
  -webkit-appearance: none;
}

.data-box::-webkit-scrollbar:vertical {
  width: 10px;
}

.data-box::-webkit-scrollbar-button:increment,
.data::-webkit-scrollbar-button {
  display: none;
}

.data-box::-webkit-scrollbar:horizontal {
  height: 10px;
}

.data::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.data::-webkit-scrollbar-track {
  border-radius: 10px;
}
*/
